.extension-page {
    padding-bottom: 40px !important;
}

@media (min-width: 1012px) {
    .extension-responsive {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
}

@media (min-width: 544px) {
    .extension-responsive {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.extension-responsive {
    padding-right: 16px;
    padding-left: 16px;
}

.extension-container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 544px) {
    .extension-md-6 {
        padding-top: 40px !important;
    }
}

.extension-btn {
    width: 170px;
}

.clearfix::before {
    display: table;
    content: "";
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

@media (min-width: 768px) {
    .extension-md-5 {
        padding-right: 32px !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .float-md-left {
        float: left !important;
    }

    .col-md-3 {
        width: 24.99%;
    }

    .text-md-left {
        text-align: left !important;
    }

    .pl-md-5 {
        padding-left: 80px !important;
    }

    .col-md-9 {
        width: 74.99%;
    }

    .f4 {
        font-size: 16px !important;
    }

    .f00-light {
        font-size: 48px !important;
    }
}

.md-3 {
    margin-bottom: 16px !important;
}

.extension-icon-large {
    width: 128px;
    height: 128px;
}

.extension-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mt-1 {
    margin-top: 4px !important;
}

.color-shadow-large {
    box-shadow: 0 8px 24px rgba(140,149,159,0.2) !important;
}

.extension-image {
    max-width: 60% !important;
    height: auto !important;
    max-height: 55% !important;
}

.lh-condensed {
    line-height: 1.25 !important;
}

.f00-light {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 40px !important;
    letter-spacing: .04em;
}

.content-flex {
    display: flex !important;
}

@media (min-width: 1012px) {
    .flex-lg-row {
        flex-direction: row !important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row;
    }
}

.flex-column {
    flex-direction: column;
}

@media (min-width: 768px) {
    .marketplace-listing-details-sidebar {
        order: 1 !important;
    }
}

.marketplace-listing-details-sidebar {
    order: 2;
}

.pt-3 {
    padding-top: 16px !important;
}

.list-style-none {
    list-style: none !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}

.pb-3 {
    padding-bottom: 16px !important;
}

.extension-tag {
    margin: 0 .125em .335em 0;
}

.extension-tag-action, .extension-tag {
    display: inline-block;
    padding: 0 7px;
    font-family: "SF Pro Rounded", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .008em;
    white-space: nowrap;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    color: #0071e3;
    background-color: #096bda28;
    border: 1px solid rgba(0,0,0,0);
    margin: 0 .5em .5em 0;
}

.extension-tag-action:active, 
.extension-tag-action:hover, 
.extension-tag:active, 
.extension-tag:hover {
    color: #ffffff;
    background-color: #0969da;
}

.f6 {
    font-size: 12px !important;
}

.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 150px;
    vertical-align: top;
}

.css-truncate.css-truncate-overflow, .css-truncate .css-truncate-overflow, .css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.extension-developer {
    font-family: "SF Pro Rounded", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .02em;
}

.flex-items-center {
    align-items: center !important;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px rgba(27,31,36,0.15);
}

.mr-2 {
    margin-right: 8px !important;
}

@media (min-width: 768px) {
    .mb-md-1 {
        margin-bottom: 4px !important;
    }
}

.mt-2 {
    margin-top: 8px !important;
}

.text-small {
    font-size: 12px !important;
}

.mb-1 {
    margin-bottom: 4px !important;
}

.category-name {
    font-family: "SF Pro Rounded", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px !important;
    font-weight: 500;
}

.sidebar-title {
    font-family: "SF Pro Rounded", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px !important;
    font-weight: 700;
    letter-spacing: .02em;
}

.verified-text {
    font-size: 14px;
    margin-top: -5px;
}

.text-muted {
    color: #b2b2b6;
}

.extension-page-link .text-muted {
    color: #b2b2b6;
}

@media (min-width: 768px) {
    .marketplace-listing-details-description {
        order: 2 !important;
    }
}

.marketplace-listing-details-description {
    order: 1;
}

.markdown-body {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body::before {
    display: table;
    content: "";
}
.markdown-body::after {
    display: table;
    clear: both;
    content: "";
}

.mb-4 {
    margin-bottom: 24px !important;
}

ul, ol {
    margin-left: 0;
}

.works-with {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    color: #b2b2b6;
    font-weight: 500;
    letter-spacing: .006em;
}

.details {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.project-details-item {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color: #0071e3;
    letter-spacing: .006em;
}

.developer-links-item {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color: #0071e3;
    letter-spacing: .006em;
}

.project-details-item-repo a {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color: #0071e3;
    letter-spacing: .006em;
}

.project-details-item a {
    color: black;
}

.project-details-item span {
    color: #b2b2b6;
}

.developer-links-item a {
    color: #0071e3;
}

.text-muted-link a {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color:#b2b2b6;
    letter-spacing: .006em;
}

.text-muted-link a:hover {
    cursor: pointer;
    text-decoration: none;
}

.extension-page-link a:hover {
    cursor: pointer;
    text-decoration: none;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #b2b2b6;
    font-weight: 500;
}

.verified-creator {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: .0001em;
}

.verified-badge {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.verified-badge-color {
    color: #0969da;
}
