.pop-container.signin-error {
    top: inherit;
}

.pop-container.error {
    margin: auto;
    max-width: 305px;
}

.signin-error {
    width: 100%;
}

.pop-container {
    color: #494949;
}

.pop-container {
    animation: fade-in .2s ease-in-out;
    z-index: 20000000000;
}

.pop-container {
    position: relative;
}

.pop-bottom {
    background-color: #fae9a3;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    border-radius: 5px;
    left: 50%;
    border: 1px solid rgba(185, 149, 1, .47);
    box-shadow: 0 5px 10px 2px rgb(0 0 0 / 10%);
    margin-top: -5px;
    padding: 11px;
}

.error {
    color: #503e30;
}

.tk-subbody-headline {
    font-size: 14px;
    line-height: 1.4285;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.tk-subbody {
    font-size: 14px;
    line-height: 1.4285;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.pop-container .error .fat {
    max-height: 110px;
    overflow-y: auto;
}

.pop-container .fat {
    margin: 0;
}

.pop-container .fat~a {
    color: #503e30;
    text-decoration: underline;
}

.si-link {
    cursor: pointer;
    margin: 0;
    display: none;
}

.pop-bottom:before {
    width: 15px;
    height: 15px;
    background-color: #fae9a3;
    content: "";
    position: absolute;
    left: 47.2%;
    transform: rotate(135deg) skewX(5deg) skewY(5deg);
    top: -8px;
    border-left: 1px solid rgba(185,149,1,.47);
    border-bottom: 1px solid rgba(185,149,1,.47);
    box-shadow: -1px 1px 2px -1px rgb(185 149 1 / 47%);
}

.no-wrap {
    white-space: nowrap;
}