.no-horizontal-scrollbar {
    overflow-x: hidden;
}

.flow-body {
    background: transparent;
}

.flow-body .intro {
    padding-top: 30px;
}

.intro {
    text-align: center;
}

h1 {
    font-size: 32px;
}

.intro-text {
    font-size: 18px;
}

.flow-section.account-info-section {
    padding-top: 15px;
}

.flow-section {
    max-width: 1200px;
    margin: auto;
    width: 80%;
}

.flow-section {
    border-bottom: 1px solid #d2d2d7;
    padding: 30px 0 20px;
}

.centered {
    margin: auto;
}

.container-xs {
    max-width: 460px;
}

.form-table {
    display: table;
    width: 100%;
    text-align: left;
    position: relative;
}

.form-cell {
    display: table-cell;
    vertical-align: top;
    direction: ltr;
}

.form-cell .form-sidebyside-textboxes.row {
    margin-right: inherit;
    margin-left: inherit;
}

.row {
    z-index: inherit;
}

@media screen and (min-device-width: 1069px) {
    .row {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.large-6 {
    width: 50%;
}

.register-column {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    float: left;
    min-height: 2px;
}

.pop-wrapper {
    position: relative;
    overflow: visible;
}

.field-pop-wrapper {
    display: block;
    width: 100%;
}

.field-wrapper.padding.right {
    padding-right: 2px !important;
}

.field-wrapper.padding.left {
    padding-left: 2px !important;
}

.padding {
    padding: 0.8em !important;
}

.aid-caption {
    margin-bottom: 10px;
}

.field-caption {
    display: block;
}

.tk-body-reduced {
    font-size: 14px;
    line-height: 1.428;
    font-weight: 400;
    letter-spacing: -.016em;
    color: white;
}

.form-element {
    z-index: inherit;
    position: relative;
}

.form-choice {
    position: absolute;
    top: 3px;
    left: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.form-choice~.form-label {
    display: block;
    padding-left: 26px;
    margin-top: 13px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-label {
    font-size: 17px;
    line-height: 1.234;
    font-weight: 400;
    letter-spacing: -.022em;
    position: relative;
    vertical-align: top;
}

.form-choice-indicator {
    box-sizing: content-box;
    display: inline-block;
}

.label-small {
    display: block;
    color: gray;
}

.tk-caption {
    font-size: 12px;
    line-height: 1.333;
    font-weight: 400;
    letter-spacing: -.01em;
}

.privacy-wrapper {
    max-width: 465px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #666;
    text-align: center;
}

.privacy-wrapper .privacy-icon {
    margin: 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 35px;
    height: 28px;
    background-image: url("../../images/privacy-icon.png");
}

.register-button {
    width: 165px;
}

.idms-step-footer {
    display: block;
}

.toolbar-footer {
    min-height: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex !important;
}

.toolbar-footer .flow-controls {
    margin: auto !important;
    text-align: center;
    float: none !important;
    padding: 0 0 40px;
}

.button-group {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.pull-right {
    float: right !important;
}

/** Responsive **/
@media only screen and (max-width: 734px) {
    .privacy-wrapper {
        max-width: 365px;
    }

    .intro-text {
        margin-right: 15px;
        margin-left: 15px;
    }
}



/** Account Verification Modal Styles **/
.verify-account .context-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 466px;
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

.verify-account .context-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify-account .context-body .text {
    color: #000;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: inherit;
}

.verify-account .context-body h2 {
    margin-bottom: 1em;
}

.verify-account .context-body .email.user-data {
    white-space: normal;
}

.user-data {
    word-wrap: break-word;
}

.tk-subsection-headline {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .0043m;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000000;
}

.text-centered {
    text-align: center;
}

.centered {
    margin: auto;
}

.not-mobile {
    display: block !important;
}

.weight-medium {
    font-weight: 500;
}

/** Image **/
.step-verify-code .context-body .icon-splash {
    margin-top: 5px;
    margin-bottom: 10px;
}

.step-verify-code .context-body .icon-splash {
    font-size: 70px;
    text-align: center;
    color: #e1e1e1;
}

.modal-icon {
    font-family: shared-icons;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.icon_mail_new {
    background-image: url("../../../elements/icons/email.svg");
    background-position-x: 50%;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    width: 80px;
    height: 80px;
}

.id-step-content {
    width: 545px;
    padding: 25px;
    background-color: #ffffff;
}
