.socials-router-links {
    background: #f5f5f7;
}

.socials-router-links .section-content,
.contributors-generator .section-content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.socials-router-links a.block,
.contributors-generator a.block {
    width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.socials-router-links .fixed-width a.block,
.contributors-generator.fixed-width a.block {
    width: 250px;
}

@media only screen and (max-width: 1068px) {

    .socials-router-links .fixed-width a.block,
    .contributors-generator.fixed-width a.block {
        width: 216px;
    }
}

@media only screen and (max-width: 735px) {

    .socials-router-links .fixed-width a.block,
    .contributors-generator.fixed-width a.block {
        width: 250px;
    }
}

@media only screen and (max-width: 480px) {

    .socials-router-links .small-6,
    .contributors-generator .small-6 {
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

.router-icon {
    margin: 4px auto 10px;
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.router-icon-discord {
    background-image: url("../../elements/icons/socials/discord.svg");
}

.router-icon-slack {
    background-image: url("../../elements/icons/socials/slack.svg");
}

.router-icon-twitter {
    background-image: url("../../elements/icons/socials/twitter.svg");
}

.router-icon-github {
    background-image: url("../../elements/icons/socials/github.svg");
}

.theme-dark .socials-router-links {
    background-color: #1d1d1f;
}

.theme-dark .socials-router-links a.block span.block-link.more {
    color: #2997FF;
}

.theme-dark .router-icon-discord {
    background-image: url("../../elements/icons/socials/discord.svg");
}

.theme-dark .router-icon-slack {
    background-image: url("../../elements/icons/socials/slack.svg");
}

.theme-dark .router-icon-twitter {
    background-image: url("../../elements/icons/socials/twitter.svg");
}

.theme-dark .router-icon-github {
    background-image: url("../../elements/icons/socials/github.svg");
}

.contributer-image {
    border-radius: 50%;
}