.offset-top {
    margin-top: 96px;
    margin-top: calc(var(--offset-top-unit, 24px) * 4);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1276px;
}

:root {
    --offset-top-unit: 24px
}